name: Build Mac App

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3


      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      

      - name: Set up Python
        run: uv python install


      - name: Install Dependencies
        run: |
          uv sync
          uv pip install pyinstaller


      - name: Build with PyInstaller
        run: |
          uv run pyinstaller InternManager.spec --noconfirm --clean


      - name: Zip the Application
        run: |
          cd dist
          zip -r InternManager_Mac.zip InternManager.app


      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: InternManager-Mac-Build
          path: dist/InternManager_Mac.zip